/* footer.css */

/* Add any additional custom styles here if needed */

.footer p {
   margin-bottom: 0; /* Ensure no extra margin at the bottom of paragraphs */
}

.footer-custom {
  background-color: hsl(317, 45%, 59%); /* Change this to your desired background color */
  color: #ffffff; /* Ensure the text color contrasts well with the background */
}
